body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }
#B-banner 
{
    background-color: #c6fbff;
}
.login-section 
{
    width: 600px;
    margin: 125px auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #86c3fcc9;

}