body {
  font-family: "Raleway", sans-serif;
}

#B-banner {
  background-color: #c6fbff;
}

.login-section-container {
  width: 650px;
  height: 400px;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;

  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  background-color: #86c3fcc9;
}

.login-image-left {
  background-image: url(https://i.pinimg.com/564x/6e/b9/0e/6eb90ee6451a22bee98534642cec66c2.jpg);
  background-size: cover;
  border-radius: 24px 0px 0px 24px;
  flex: 50%;
}

.login-details-right {
  flex: 50%;
  text-align: center;
}
